body{
    background-color: beige;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1{
    font-size: 400%;
    color: rgb(2, 72, 141);
    text-align: center;
}



#cats01{
    height: 350px;
}


p{

    color: rgb(34, 104, 81);

}

#home {
    color: rgb(0, 8, 255);
    font-size: x-large;
    text-decoration: none;
  }


  nav {
    background-color: #4a1d4a  ;
    padding: 10px; 
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav li {
    margin-right: 10px;
  }
  
  nav a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
  }

  #Home{

    font-size:125%
  }
 

