body{
    background-color: beige;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1{
    font-size: 400%;
    color: rgb(255, 0, 0);
    text-align: center;
}



#mazewin{
    height: 250px;
}


p{

    color: rgb(34, 104, 81);

}

#home {
    color: rgb(0, 8, 255);
    font-size: x-large;
    text-decoration: none;
  }

 #blog{

  color: blue;

 } 


  nav {
    background-color: #FFFF9F  ;
    padding: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav li {
    margin-right: 10px;
  }
  
  nav a {
    color: #333;
    text-decoration: none;
    font-size: 16px;
  }


@import "https://fonts.googleapis.com/css?family=Rancho&effect=fire-animation";

.font-effect-fire-animation {
  font-family: Rancho;
  margin: 40px 0;
  text-align: center;
    font-size: 400%;
    color: rgb(255, 0, 0);
}

