body {
  margin: 0;
  padding: 0;
}

.fire {
  color: #f5f5f5;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: 400%;
  text-shadow:
      0px -1px 3px #eee891,
      0px -2px 6px #FF3,
      0px -6px 12px #F90,
      0px -10px 20px #C33;
  animation: flicker 2s infinite;
}

#mazewin{
  width: 500px;
}

@keyframes flicker {
  0%, 
  100% { 
      text-shadow: 
          0 -1px 3px #eee891,
          0 -2px 6px #FF3,
          0 -6px 12px #F90,
          0 -10px 20px #C33;
  }
  50% { 
      text-shadow: 
          0 -2px 6px #eee891,
          0 -4px 12px #FF3,
          0 -8px 16px #F90,
          0 -12px 24px #C33;
  }
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .fire {
    font-size: 200%;
  }

  header nav ul {
    flex-direction: column;
  }

  main {
    padding: 6px;
  }

  footer {
    padding: 12px;
  }
}

@media (max-width: 480px) {
  .fire {
    font-size: 150%;
  }
  
  header nav ul {
    flex-direction: column;
    space-y-2;
  }

  main {
    padding: 4px;
  }

  footer {
    padding: 8px;
  }
}
